.apps {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 210px;

  @include list-reset;
}

.apps__item {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 50px;
  height: 65px;
  margin-right: 30px;

  &:nth-child(3n) {
    margin-right: 0;
  }
}
