.button {
  display: block;
  width: 280px;
  padding: 15px;

  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: $white;

  border: 3px solid $white;
  border-radius: 30px;
  cursor: pointer;

  transition: $animation-time;

  &:hover {
    color: $additional-color;

    background-color: $white;
  }

  &:active {
    color: rgba(210, 40, 86, 0.3);
  }
}

.button--upload {
  color: $additional-contrast-color;

  border-color: $additional-contrast-color;

  &:hover {
    color: $white;

    background-color: $additional-contrast-color;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.button--cancel {
  color: $main-color;

  border-color: $main-color;
  opacity: 0.1;

  @include focus-visible;

  &:hover {
    color: $main-color;

    opacity: 0.3;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);

    background-color: $main-color;
  }
}

.button--form {
  width: 280px;
  padding: 22px;

  font-weight: bold;
  font-size: 18px;
  color: $white;
  text-transform: uppercase;

  background-color: #2aab6d;
  border: none;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    color: $white;

    background-color: #1c9b5e;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  &:disabled {
    background-color: #e5e5e5;
  }
}

@media (min-width: $tablet-width) {
  .button {
    width: 300px;
  }

  .button--upload,
  .button--cancel {
    width: 260px;
  }

  .button--form {
    width: 300px;
  }
}

@media (min-width: $desktop-width) {
  .button {
    font-size: 21px;
  }

  .button--upload,
  .button--cancel {
    width: 183px;

    font-size: 18px;
  }

  .button--form {
    font-size: 18px;
  }
}
