.contest__title {
  margin-bottom: 45px;
}

.contest__lead {
  width: 90%;
  margin-bottom: 35px;

  span {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .contest__title {
    margin-bottom: 92px;
  }

  .contest__lead {
    width: 500px;
    margin-bottom: 70px;

    span {
      display: block;
    }
  }
}

@media (min-width: $desktop-width) {
  .contest__lead {
    width: 760px;
    margin-bottom: 70px;

    span {
      display: inline;
    }
  }
}
