.dots {
  width: 62px;
}

.dots__dot {
  display: inline-block;
  width: 6px;
  height: 6px;
  margin-right: 15px;
  padding: 0;

  vertical-align: middle;

  background-color: rgba(40, 56, 69, 0.3);
  border: none;
  border-radius: 50%;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
  }

  &--active {
    width: 12px;
    height: 12px;
    margin-right: 12px;

    background-color: $white;
    border: 3px solid $main-color;
    cursor: auto;
  }
}
