.dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  width: 100px;
}

.dots__dot {
  width: 8px;
  height: 8px;
  margin-bottom: 10px;
  padding: 0;

  background-color: $main-color;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.3;

  @include focus-visible;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.1;
  }
}

.dots__dot--active {
  width: 13px;
  height: 13px;

  background-color: $white;
  border: 3px solid $main-color;
  cursor: auto;
  opacity: 1;

  &:hover {
    opacity: 1;
  }
}
