.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;

  font-size: 18px;
  line-height: 30px;
}

.form__fieldset {
  position: relative;

  margin: 0;
  margin-bottom: 27px;
  padding: 0 20px;

  border: none;

  &--achievements,
  &--apps {
    margin-bottom: 0;
  }
}

.form__wrap {
  margin-bottom: 27px;
  padding-top: 40px;

  background-color: $white-two;
}

.form__legend {
  width: 220px;
  margin: 0 auto;

  line-height: 18px;
  text-align: center;
}

.form__legend,
.form__label--text {
  font-size: 14px;
  color: $additional-color;
  text-transform: uppercase;
}

.form__group {
  display: flex;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 15px;
}

.form__label--text {
  margin-bottom: 5px;
  margin-left: 22px;

  line-height: 30px;
}

.form__input--text,
.form__textarea {
  width: 100%;
  padding: 20px;

  border: 2px solid #e5e5e5;
  outline: none;

  &:hover {
    border-color: $black;
    cursor: pointer;
  }

  &:focus {
    border-color: $additional-color;
  }

  &::placeholder {
    color: $main-color;

    opacity: 1;
  }
}

.form__list {
  width: 280px;
  margin: 0 auto;
  margin-top: 42px;

  @include list-reset;
}

.form__item {
  margin-bottom: 52px;

  &:last-child {
    margin-bottom: 47px;
  }
}

.form__label--checkbox,
.form__label--radio {
  position: relative;

  padding-top: 2px;
  padding-left: 70px;
}

.form__label--checkbox::before,
.form__label--radio::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;

  width: 39px;
  height: 39px;

  vertical-align: middle;

  background-color: $white;
  border: 2px solid #e5e5e5;
}

.form__label--radio::before {
  border-radius: 50%;
}

.form__input--checkbox:checked + .form__label--checkbox::before {
  background-image: url("../img/icon-yes.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.form__input--radio:checked + .form__label--radio::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 12px;

  display: block;
  width: 15px;
  height: 15px;

  background-color: $additional-color;
  border-radius: 50%;
}

.form__label--checkbox:hover,
.form__label--radio:hover {
  &::before {
    border-color: $black;
    cursor: pointer;
  }
}

.form__label--checkbox:active,
.form__label--radio:active {
  &::before {
    border-color: $additional-color;
  }
}

.form__input--checkbox:focus + .form__label--checkbox::before,
.form__input--radio:focus + .form__label--radio::before {
  border-color: $additional-color;
}

.form__fieldset--contacts {
  margin-top: 5px;

  .form__legend {
    display: none;
  }

  .form__group {
    flex-direction: column-reverse;
  }
}

.form__tooltip {
  display: none;

  text-transform: lowercase;
}

.form__input--tooltip:focus + .form__label .form__tooltip {
  display: inline;
}

.form__fieldset--apps .form__item {
  margin-bottom: 45px;
}

.form__fieldset--comment {
  margin-top: 8px;
  margin-bottom: 40px;

  .form__legend {
    margin-bottom: 17px;
  }
}

.form__textarea {
  min-height: 201px;
  margin: 0 auto;
  padding: 15px 18px;

  line-height: 30px;

  resize: none;
}

.form__submit-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__requirement {
  display: block;
  margin-top: 35px;

  font-size: 14px;
  text-align: center;
  text-transform: uppercase;

  sup {
    color: $additional-color;
  }

  span {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .form__wrap {
    padding: 0;

    background-color: $white;

    &--apps {
      order: -2;
    }
  }

  .form__fieldset {
    width: 94%;
    margin-right: auto;
    margin-bottom: 25px;
    margin-left: auto;

    border: 2px solid #e5e5e5;

    &--full-name {
      order: -3;
      width: 660px;
      margin-bottom: 5px;

      border: none;
    }
  }

  .form__legend {
    width: auto;
    padding: 0 25px;
  }

  .form__group {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 52px;
  }

  .form__label--text {
    margin-top: 0;
    margin-right: 18px;
    margin-bottom: 0;
    margin-left: 0;
  }

  .form__input--text {
    flex-grow: 1;
  }

  .form__list {
    margin-top: 47px;
    margin-bottom: 60px;
    margin-left: 6.6%;

    .form__label {
      padding-left: 60px;
    }
  }

  .form__fieldset--contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    order: -1;
    margin-bottom: 60px;
    padding-top: 38px;

    .form__legend {
      display: block;
    }

    .form__group {
      position: relative;

      flex-direction: column-reverse;
      width: 500px;
      margin-bottom: 25px;

      &::before {
        content: "";
        position: absolute;
        right: 2px;
        bottom: 2px;

        width: 60px;
        height: 60px;

        background-color: #e5e5e5;
        background-image: url("../img/icon-phone.svg");
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    .form__group--phone::before {
      background-image: url("../img/icon-phone.svg");
    }

    .form__group--mail::before {
      background-image: url("../img/icon-mail.svg");
    }

    .form__label {
      margin-top: 10px;
      margin-right: auto;
      margin-left: 20px;
    }
  }

  .form__fieldset--achievements {
    margin-bottom: 22px;

    .form__list {
      margin-bottom: 52px;
    }
  }

  .form__fieldset--comment {
    margin-bottom: 67px;
    padding: 20px 57px 40px 57px;
  }

  .form__textarea {
    min-height: 195px;
  }

  .form__submit-wrap {
    flex-direction: row;
    justify-content: space-between;
    width: 94%;
    margin: 0 auto;
    margin-bottom: 35px;
  }

  .form__button {
    width: 300px;
  }

  .form__requirement {
    margin-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 1200px;
    margin: 0 auto;
  }

  .form__wrap,
  .form__fieldset {
    margin-right: 0;
    margin-left: 0;
  }

  .form__fieldset--full-name {
    width: 440px;
    margin-top: 11px;
    margin-right: 65px;
    margin-bottom: 0;
    padding: 0;
  }

  .form__fieldset--apps {
    width: 440px;

    .form__list {
      padding-left: 30px;
    }
  }

  .form__fieldset--contacts {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 940px;
    margin-bottom: 55px;
    padding-top: 15px;
    padding-bottom: 35px;

    .form__group {
      width: 375px;
      margin-bottom: 0;

      &:nth-child(2n) {
        margin-right: 70px;
      }
    }
  }

  .form__fieldset--achievements {
    width: 940px;
    padding-top: 50px;
    padding-right: 55px;
    padding-bottom: 8px;
    padding-left: 55px;

    .form__list {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin: 0;
      padding: 0;
    }

    .form__item {
      flex-grow: 1;
    }
  }

  .form__fieldset--comment {
    width: 940px;
    padding-top: 15px;
    padding-bottom: 35px;
  }

  .form__textarea {
    min-height: 130px;
  }

  .form__submit-wrap {
    width: 940px;
    margin-bottom: 0;
  }

  .form__requirement span {
    display: inline;
  }
}
