/* header */

@media (max-width: $non-desktop-width-only) {
  .header {
    position: sticky;
    z-index: 100;
    top: 0;
    left: 0;
  }
}

@media (min-width: $desktop-width) {
  .header {
    background-color: rgba(0, 0, 0, 0.75);
  }
}
