.lead {
  width: 76%;
  margin: 0 auto;
  margin-bottom: 50px;

  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: $main-color;
}

@media (min-width: $tablet-width) {
  .lead {
    width: 500px;
    margin-bottom: 75px;

    font-size: 18px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .lead {
    width: 600px;
    margin-bottom: 87px;
  }
}
