.logo__svg {
  width: 75px;
  height: 23px;

  transition-duration: $animation-time;

  fill: $white;

  &:hover {
    fill: $additional-color;
  }

  &:active {
    opacity: 0.3;

    fill: $white;
  }
}

.logo__svg--purple {
  width: 146px;
  height: 40px;

  fill: $main-color;

  &:active {
    opacity: 0.3;

    fill: $main-color;
  }
}

.logo__svg--tablet,
.logo__svg--desktop {
  display: none;
}

.logo__svg--mobile {
  display: block;
}

@media (min-width: $tablet-width) {
  .logo__svg {
    width: 146px;
    height: 40px;
  }

  .logo__svg--mobile {
    display: none;
  }

  .logo__svg--tablet {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .logo__svg--tablet {
    display: none;
  }

  .logo__svg--non-desktop {
    display: none;
  }

  .logo__svg--desktop {
    display: block;
  }
}
