.rates {
  height: 500px;
  padding-top: 117px;

  background-color: $white-two;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 1000px 80px;
}

.rates__wrapper {
  width: 100%;
  overflow: hidden;
}

.rates__table {
  position: relative;
  left: 50%;

  width: 262%;

  border-collapse: collapse;
  line-height: 30px;

  transform: translateX(-50%);

  transition: $animation-time;
}

.rates__header {
  position: relative;

  padding: 15px;

  color: $white;

  background-color: $main-color;
  background-clip: padding-box;
  border: 2px solid #e5e5e5;

  &--none {
    display: none;
  }
}

.rates__header--hit::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 61px;
  height: 61px;

  background-image: url("../img/bg-hit-tablet.svg");
  background-repeat: no-repeat;
  background-position: contain;
}

.rates__header--hit::after {
  content: "ХИТ";
  position: absolute;
  top: 4px;
  left: 4px;

  font-weight: normal;
  font-size: 15px;
  color: $white;

  transform: rotate(-45deg);
}

.rates__subtitle {
  display: inline;

  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}

.rates__money {
  display: inline;

  font-weight: 300;
  font-size: 24px;
}

.rates__cell {
  position: relative;

  height: 61px;

  text-align: left;
  text-transform: uppercase;

  background-color: $white;
  background-clip: padding-box;
  border: 2px solid #e5e5e5;

  &--name {
    display: none;
  }

  svg {
    position: absolute;
    top: 50%;
    right: 20px;

    transform: translateY(-50%);
  }
}

.rates__subject {
  position: absolute;
  top: 15px;
  left: 20px;
}

.rates__dots {
  margin-top: 35px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: $tablet-width) {
  .rates {
    height: 375px;
    padding-top: 85px;

    background-size: contain;
  }

  .rates__table {
    position: static;

    width: 620px;
    margin: 0 auto;

    transform: translate(-0%, -0%);
  }

  .rates__header {
    padding: 10px 35px;

    &--none {
      display: table-cell;

      background-color: transparent;
      border: none;
    }
  }

  .rates__subtitle {
    font-size: 16px;
  }

  .rates__money {
    font-size: 18px;
  }

  .rates__cell {
    height: 45px;
    padding: 7px 0;

    text-align: center;
    text-transform: none;

    svg {
      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%);
    }
  }

  .rates__subject {
    display: none;
  }

  .rates__cell--name {
    display: table-cell;
    padding: 5px 15px;

    text-align: left;
  }

  .rates__dots {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .rates {
    height: 515px;
    padding-top: 138px;
  }

  .rates__table {
    width: 940px;
    height: 280px;
  }

  .rates__header {
    height: 94px;
  }

  .rates__header--hit::before {
    width: 74px;
    height: 74px;

    background-image: url("../img/bg-hit.svg");
  }

  .rates__header--hit::after {
    top: 11px;
    left: 11px;
  }

  .rates__subtitle {
    font-size: 18px;
  }

  .rates__money {
    font-size: 24px;
  }

  .rates__cell {
    height: 59px;
  }

  .rates__cell--name {
    width: 235px;
    padding-left: 25px;

    font-size: 18px;
  }
}
