.reviews {
  position: relative;

  padding-top: 40px;
}

.reviews__svg {
  display: none;
}

@media (min-width: $tablet-width) {
  .reviews {
    padding-top: 25px;
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    padding-top: 185px;
  }

  .reviews__svg {
    position: absolute;
    top: 70px;
    left: 50%;

    display: block;

    transform: translateX(-50%);

    fill: #efefef;
  }
}
